.footer-wrapper {
  background-color: var(--grey);
  padding: 2% 5%;
}
/* left vs right is 5:1 */
.footer-left-section {
  flex-grow: 5;
}
.footer-right-section {
  flex-grow: 1;
}
.footer-right-section > a {
  text-decoration: none;
  color: #a3a9bc;
}
