.resume-wrapper {
  background-color: var(--black);
}
.resume-wrapper h2,
.resume-wrapper h3,
.resume-wrapper h4,
.resume-wrapper p {
  color: #c1c5d3;
}

/* General classes for the page */
.section-marker {
  width: 8px;
  height: 20px;
}
.yellow-div {
  background-color: var(--yellow);
}
.pink-div {
  background-color: var(--pink);
}
.cyan-div {
  background-color: var(--cyan);
}
.blue-div {
  background-color: var(--blue);
}

/* Metadata section */
.metadata-section a {
  color: inherit;
}
.metadata-section a:hover,
.metadata-section a:active {
  color: var(--yellow);
}

/* Education section */
.education-entry p:first-child {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

/* Experience section */
.experience-entry p:first-child {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

/* Skills and tools section */
.skills-entry,
.tools-entry {
  flex: 1 1 0px;
}
.skills-entry p:first-child,
.tools-entry p:first-child {
  color: white;
  font-weight: 600;
}
